<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/VM.css">
</head>
</head>

<body>
    <div class="formbox">
        <% if( status==1 ) {%>
            <h1 class="h1" style="color: rgb(197, 64, 64);">操作失败！</h1>
            <h2  style="width: 400px;">
                <%= message %>
            </h2  >
            <div>
                <a href="http://<%= ip %>:<%= port %>/manager">自助开户入口</a>
            </div>
            <% } else {%>
            <h1 class="h1" style="color: rgb(238, 152, 24);"> 操作成功！ </h1>
                <br>
            <h2  class="items" style="width: 400px;">
                <%= message %> 当前余额：<%= newRMB%> 元
            </h2>
            <% }%>
            <a href="http://<%= ip %>:<%= port %>/user/">
                <button>返回充值页面</button>
            </a>
    </div>

</body>

</html>