<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>选择终端</title>
</head>
<body>
    <div>
        请选择模拟终端
    </div>
    <%   Terminals.forEach(function(item){%>
        <a href="http://<%= ip %>:<%= port %>/user/select?Mid=<%= item.Mid%>">
            <div style="height: 50 "><%= item.Mid%> 地址：<%= item.address%></div>
        </a>
    <%}) %>
</body>
</html>